/* Styling on different elements */

#root{
	max-width: 600px;
	margin: 0 auto;
	background: white;
	box-shadow: 10px 10px 5px #888888
}

body {
  /*font-family: sans-serif;*/
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

input[type=text] {
  box-sizing: border-box;
  padding: 5px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
	outline: 0;
}

/*#addButton{
	background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}*/

div#tasklist {
  max-height: 100px;
  overflow-y: scroll;
}

li {
  position: relative;
  list-style-type: square;
  padding: 15px;
  border-bottom: #eee solid 1px;
  cursor: pointer;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  color: red;
}

.check {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  color: green;
}

p#footer{
  background: #d0edf5;
  background-image: linear-gradient(to bottom, #D3D3D3, #FFFFFF 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
